BarCode 39 scanner
<div style="width: 300px;" *ngIf="showScanner">
  <barcode-scanner-livestream type="code_39" (valueChanges)="onValueChanges($event)" (started)="onStarted($event)">
  </barcode-scanner-livestream>
</div><br>
<button type="button" (click)="showScanner = true">Scan other</button>

<br><br><br>
<button type="button" (click)="getLocation()">Get Location</button>
Location: Long: {{long}} - Lat: {{lat}}
<br>
<span *ngIf="lat && long">Link Map: https://maps.google.com/maps?q={{lat}},{{long}}</span>
